{% load bag_tools %}

{% if bag_items %}
    <div class="table-responsive d-none d-md-block">
        <table class="table table-sm table-borderless">
            <thead class="text-black">
                <tr>
                    <th scope="col">Product Info</th>
                    <th scope="col" class="text-center">Price</th>
                    <th scope="col">Qty</th>
                    <th scope="col" class="text-center subtotal-column">Subtotal</th>
                </tr>
            </thead>
        
            {% for item in bag_items %}
                <tr>
                    <td class="p-3 w-25">
                        <div class="image-wrapper">
                            {% if item.product.thumbnail %}
                            <a href="{% url 'product_detail' item.product.id %}">
                                <img class="card-img-top img-fluid" src="{{ item.product.thumbnail.url }}" alt="{{ item.product.name }}">
                            </a>
                            {% elif item.product.image %}
                            <a href="{% url 'product_detail' item.product.id %}">
                                <img class="card-img-top img-fluid" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'product_detail' item.product.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                            </a>
                            {% endif %}
                        </div>
                        <div class="product-info mt-2">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                        </div>
                    </td>
                    <td class="py-3 text-center">
                        <p class="my-0 product-price">£{{ item.product.price }}</p>
                    </td>
                    <td class="py-3 w-25">
                        <form class="form update-form">
                            <div class="form-group">
                                <div class="input-group quantity-1 input-group-sm">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                            <span><i class="bi bi-dash"></i></span>
                                        </button>
                                    </div>
                                    <input class="form-control form-control-sm qty_input" type="number"
                                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                        data-item_id="{{ item.item_id }}"
                                        id="id_qty_{{ item.item_id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-sm btn-black rounded-0"
                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                            <span><i class="bi bi-plus"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="update-remove-container">
                            <a href="#" class="update-link text-info" data-item_id="{{ item.item_id }}"><small>Update</small></a>
                            <a href="#" class="remove-item text-danger" id="remove_{{ item.item_id }}" data-item_id="{{ item.item_id }}"><small>Remove</small></a>
                        </div>
                    </td>
                    <td class="py-3 text-center subtotal-column">
                        <p class="my-0">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>

    <!-- Mobile-friendly layout -->
    <div class="d-md-none">
        {% for item in bag_items %}
            <div class="row mb-4">
                <div class="col-4">
                    <div class="image-wrapper">
                        <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                    </div>
                </div>
                <div class="col-8">
                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                    <p class="my-0">Price: £{{ item.product.price }}</p>
                    <div class="mt-2">
                        <div class="input-group quantity-1 input-group-sm">
                            <div class="input-group-prepend">
                                <button class="decrement-qty btn btn-sm btn-black rounded-0" data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                    <span><i class="bi bi-dash"></i></span>
                                </button>
                            </div>
                            <input class="form-control form-control-sm qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                            <div class="input-group-append">
                                <button class="increment-qty btn btn-sm btn-black rounded-0" data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                    <span><i class="bi bi-plus"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <p class="mt-2 mb-1 text-right">Subtotal: £{{ item.product.price | calc_subtotal:item.quantity }}</p>
                    <p class="text-right">
                        <a href="#" class="update-link text-info" data-item_id="{{ item.item_id }}"><small>Update</small></a>
                        <a href="#" class="remove-item text-danger" id="remove_{{ item.item_id }}" data-item_id="{{ item.item_id }}"><small>Remove</small></a>
                    </p>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>

    <!-- Total section -->
    <div class="row">
        <div class="col-12 col-md-6 offset-md-6">
            <div class="text-right">
                <p class="mt-3"><strong>Bag Total: £{{ total|floatformat:2 }}</strong></p>
                <p>Delivery: £{{ delivery|floatformat:2 }}</p>
                <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                {% if free_delivery_delta > 0 %}
                    <p class="mb-1 text-danger">
                        You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong> more!
                    </p>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Checkout buttons -->
    <div class="row">
        <div class="col-12 text-center">
            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg mx-2">
                <span class="icon">
                    <i class="bi bi-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg mx-2">
                <span class="text-uppercase">Secure Checkout</span>
                <span class="icon">
                    <i class="bi bi-lock"></i>
                </span>
            </a>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12 text-center">
            <p class="lead mb-5">Your bag is empty.</p>
            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="bi bi-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
        </div>
    </div>
    {% endif %}