*.sqlite3
*.pyc
__pychache__
.env
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/tests/
/tests-examples/
package-lock.json
package.json
playwright.config.js
playwright.yml