:root {
    --main-text-color: #555;
    --primary-bg-color: #000;
    --secondary-bg-color: #222;
    --primary-text-color: #fff;
    --navbar-height-mobile: 116px;
    --navbar-height-desktop: 164px;
}

html, body {
    height: 100%;
}

body {
    background: url('/media/splash.jpg') no-repeat center center fixed;
    background-size: cover;
    color: var(--main-text-color);
    font-family: var(--bs-body-font-family);
    display: flex;
    flex-direction: column;
    padding-top: var(--navbar-height-mobile);
}

main {
    flex: 1 0 auto;
    position: relative;
    z-index: 2;
}

.content-container {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.header-container {
    padding-top: 164px;
}

#home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - var(--navbar-height-mobile));
}

#home-page .container {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2rem;
    border-radius: 10px;
}

.shop-now-button {
    background-color: #c7c7c7;
    color: #000;
    min-width: 260px;
    transition: background-color 0.3s ease;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background-color: #fff;
    color: #000;
}

.btn-black {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    transition: background-color 0.3s ease;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
}

.text-black {
    color: var(--primary-bg-color) !important;
}

.border-black {
    border: 1px solid var(--primary-bg-color) !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fff;
    z-index: 1;
}

.container-fluid {
    position: relative;
    z-index: 2;
}

header.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: var(--navbar-height-mobile);
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
    z-index: 3;
}

.btt-link {
    cursor: pointer;
}

.btt-link span {
    font-size: 14px;
    text-align: center;
}

.btt-link i {
    font-size: 1.5rem;
}

.sort-select-wrapper {
    display: flex;
    justify-content: flex-end;
}

.sort-select-wrapper select {
    width: auto;
}



/* Media Queries */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 992px) {
    body {
        padding-top: var(--navbar-height-desktop);
    }

    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

@media (max-width: 991px) {
    .navbar-toggler {
        margin-right: 15px;
    }

    .mobile-top-header-container .list-inline-item {
        margin-right: 10px;
        padding-top: 15px;
    }

    .mobile-top-header-container .list-inline-item:last-child {
        margin-right: 0;
    }
    
    .product-container {
        padding-top: 20px;
    }
}

/* Adjust sort select on smaller screens */
@media (max-width: 767px) {
    .sort-select-wrapper {
        justify-content: center;
    }
    
    .sort-select-wrapper select {
        width: 100%;
    }
}