<div class="mobile-top-header-container">
    <ul class="list-inline list-unstyled d-flex d-lg-none">
        <li class="list-inline-item">
            <a class="text-black nav-link d-block" href="#" id="mobile-search" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                    <i class="bi bi-search fs-4"></i>
                    <p class="my-0">Search</p>
                </div>
            </a>
            <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
                <form class="form" method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                        <button class="btn btn-outline-dark border border-black rounded-0" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </li>
        <li class="list-inline-item dropdown">
            <a class="text-black nav-link d-block" href="#" id="mobile-user-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                    <i class="bi bi-person fs-4"></i>
                    <p class="my-0">My Account</p>
                </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="mobile-user-options">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                    {% endif %}
                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                    <a href="{% url 'view_favourites' %}" class="dropdown-item">My Favourites</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>
        <li class="list-inline-item">
            <a class="{% if grand_total %}text-info fw-bold{% else %}text-black{% endif %} nav-link d-block" href="{% url 'view_bag' %}">
                <div class="text-center">
                    <i class="bi bi-bag fs-4"></i>
                    <p class="my-0">
                        {% if grand_total %}
                            £{{ grand_total|floatformat:2 }}
                        {% else %}
                            £0.00
                        {% endif %}
                    </p>
                </div>
            </a>
        </li>
    </ul>
</div>